# OSX #
.DS_Store
.AppleDouble
.LSOverride

# Generated thumbnails
thumbnails/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# Virtualenv
venv/

# IDEs
.vscode/
.idea/
temp/
workspace.code-workspace
